# База данных
db.sqlite3
db.sqlite3-journal

# Медиа-файлы (загруженные пользователями)
media/
staticfiles/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.pid
.pytest_cache/
.coverage
htmlcov/

# Виртуальное окружение
venv/
env/
.venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.iml

# Переменные окружения
.env
.env.local
.env.*.local

# Секретные ключи
SECRET_KEY
*.pem

# ============================================
# ML-артефакты
# ============================================
ml/data/           # CSV-файлы с данными (генерируются автоматически)
*.pkl
*.joblib

# Jupyter Notebooks (чтобы не хранить в репозитории, т.к. Ноутбуки могут содержать большие выводы (графики, таблицы))
# ml/notebooks/*.ipynb

# Отчёты и графики
*.html
*.png
*.jpg
*.jpeg
*.svg
*.gif
*.mp4

# ML-логи
*.log